.Positions {
    width: 100vw;
    max-width: 600px;
    margin: auto;
    // background: red;
    padding-bottom: 60px;
    .title {
        width: calc(100vw - 30px);
        padding: 0 15px;
        max-width: 330px;
        margin: auto;
        margin-top: 60px;
        text-align: left;
        h1 {
            font-size: 1.6em;
        }
    }
    .grid {
        margin-top: 20px;
        padding: 0 20px;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }
}

@media (max-width: 450px) {
    .Positions {
        .grid {
            padding: 0 30px !important;
            height: auto !important;
        }
    }
}