.Positions {
    margin: 50px 0 100px 0;
    .title {
        margin-bottom: -10px;
    }
    .positions {
        column-count: 2;
        .category {
            min-width: 220px;
            display: inline-block;
            .header {
                display: inline-block;
                font-size: .9em;
                margin: 20px 0 7px 0;
                .divider {
                    height: 1px;
                    width: 100%;
                    background: rgb(230, 230, 230);
                }
            }
        }
    }
}

@media (max-width: 580px) {
    .Positions {
        .positions {
            column-count: 1;
            .category {
                display: block;
            }
        }
    }
}